**/build
**/*.o
**/*.ll
**/obj
**/foo
.vscode
Benchmarks/rodinia_cuda_3.1/data 
Benchmarks/rodinia_cuda_3.1/bin
Benchmarks/rodinia_cuda_3.1/cuda/backprop/backprop
Benchmarks/rodinia_cuda_3.1/cuda/bfs/bfs
Benchmarks/rodinia_cuda_3.1/cuda/b+tree/b+tree.out
Benchmarks/rodinia_cuda_3.1/cuda/hotspot3D/3D
Benchmarks/rodinia_cuda_3.1/cuda/particlefilter/particlefilter_float
Benchmarks/rodinia_cuda_3.1/cuda/particlefilter/particlefilter_naive
Benchmarks/rodinia_cuda_3.1/cuda/srad/srad_v2/srad
